/* LESS Theme by Rob Garrison

 To create your own theme, modify the code below and run it through
 a LESS compiler, like this one: http://leafo.net/lessphp/editor.html
 or download less.js from http://lesscss.org/

 */
/*** fonts ***/
/*** color definitions ***/
/* for best results, only change the hue (210),
   leave the saturation and luminosity alone
   pick the color from here: http://hslpicker.com/#99CCE6 */
/* 20px should be slightly wider than the icon width to avoid overlap */
/* url(icons/loading.gif); */
/* zebra striping */
.allRows {
  background: #fff;
  color: #000;
}
.evenRows {
  background: #ffffff;
  color: #000;
}
.oddRows {
  background: #ebfaeb;
}
/* hovered rows */
.oddHovered {
  background: #bfbfbf;
  color: #000;
}
.evenHovered {
  background: #d9d9d9;
  color: #000;
}
/* Columns widget */
/* saturate( darken( desaturate(@headerBackground, 10%), 10% ), 30%); */
/* black */
/* white */
/*** Arrows ***/
table.tablesorter {
  font: 11px 'trebuchet ms', verdana, arial;
  background-color: #cdcdcd;
  margin: 10px 0 15px;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  /* style th's outside of the thead */
  /* style header */
  /* Column Widget - column sort colors */
  /* optional disabled input styling */
  /* filter widget */
  /* body */
  /* table processing indicator - indeterminate spinner */
}
table.tablesorter th,
table.tablesorter td {
  border: #cdcdcd 1px solid;
}
table.tablesorter th,
table.tablesorter thead td {
  background-color: #99e699;
  color: #000;
  border-collapse: collapse;
  font: 11px 'trebuchet ms', verdana, arial;
  font-weight: bold;
  padding: 4px;
}
table.tablesorter .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  color: #000;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 20px 4px 4px;
  cursor: pointer;
}
table.tablesorter .tablesorter-headerSortUp {
  background-color: #9fdf9f;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  color: #000;
}
table.tablesorter .tablesorter-headerSortDown {
  background-color: #8cd98c;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  color: #000;
}
table.tablesorter tr.odd td.primary {
  background-color: #99e6a6;
}
table.tablesorter td.primary,
table.tablesorter tr.even td.primary {
  background-color: #c2f0c9;
}
table.tablesorter tr.odd td.secondary {
  background-color: #c2f0c9;
}
table.tablesorter td.secondary,
table.tablesorter tr.even td.secondary {
  background-color: #d6f5db;
}
table.tablesorter tr.odd td.tertiary {
  background-color: #d6f5db;
}
table.tablesorter td.tertiary,
table.tablesorter tr.even td.tertiary {
  background-color: #ebfaed;
}
table.tablesorter .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}
table.tablesorter .tablesorter-filter-row input,
table.tablesorter .tablesorter-filter-row select {
  width: 95%;
  height: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table.tablesorter .tablesorter-filter-row td {
  text-align: center;
  background: #eee;
}
table.tablesorter tbody {
  /* Zebra Widget - row alternating colors */
  /* hovered row colors
		 you'll need to add additional lines for
		 rows with more than 2 child rows
		*/
}
table.tablesorter tbody td {
  background: #fff;
  color: #000;
  padding: 4px;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background: #ebfaeb;
}
table.tablesorter tbody tr.even td {
  background: #ffffff;
  color: #000;
}
table.tablesorter tbody tr:hover td,
table.tablesorter tbody tr:hover + tr.tablesorter-childRow td,
table.tablesorter tbody tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow td,
table.tablesorter tbody tr.even:hover td,
table.tablesorter tbody tr.even:hover + tr.tablesorter-childRow td,
table.tablesorter tbody tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow td {
  background: #d9d9d9;
  color: #000;
}
table.tablesorter tbody tr.odd:hover td,
table.tablesorter tbody tr.odd:hover + tr.tablesorter-childRow td,
table.tablesorter tbody tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow td {
  background: #bfbfbf;
  color: #000;
}
table.tablesorter .tablesorter-processing {
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
}
